

.house-form {
    max-width: 400px;
    margin: 30px auto;
    background: var(--color-border-social);
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.house-input {
    width: 100%;
    padding: 6px;
    margin-bottom: 12px;
    box-sizing: border-box;
}


.house-button {
    background-color: #4caf50;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.house-button:hover {
    background-color: #45a049;
}

#houses{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#houses a{
    color: var(--color-dark);
    text-decoration: none;
}
.card{
    display: flex;
    flex-direction: column;
    width: 175px;
    max-width: 175px;
    padding: 10px;
    @media (min-width: 1024px) {
        width: 195px;
        max-width: 195px;
        padding: 20px 10px;
    }
    gap: 5px;
    align-items: center;
    background: var(--color-border-social);

    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.card-ranges{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: 175px;
    max-width: 175px;
    padding: 20px 10px 40px;
    @media (min-width: 1024px) {
        width: 195px;
        max-width: 195px;
    }

    background: var(--color-white);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#range-slider1, #range-slider2, #range-slider3, #range-slider4 {
    height: 9px;
    margin-top: 5px;
}

#range-slider1 .noUi-handle,
#range-slider2 .noUi-handle,
#range-slider3 .noUi-handle,
#range-slider4 .noUi-handle {
    border: 2px solid #3498db;
    width: 16px;
    height: 16px;
    top: -5px;
    transform: translate(-50%, 0);
}
/*  спливаючих значень */
#range-slider1 .noUi-tooltip,
#range-slider2 .noUi-tooltip,
#range-slider3 .noUi-tooltip,
#range-slider4 .noUi-tooltip{
    padding: 0;
    top: 16px;
    font-size: 12px;
    border: 0;
}

/* розмір доріжки */
#range-slider1 .noUi-connect,
#range-slider2 .noUi-connect,
#range-slider3 .noUi-connect,
#range-slider4 .noUi-connect{
    height: 9px;
    background-color: #3498db;
}


#range-slider1 .noUi-handle::before,
#range-slider1 .noUi-handle::after,
#range-slider2 .noUi-handle::before,
#range-slider2 .noUi-handle::after,
#range-slider3 .noUi-handle::before,
#range-slider3 .noUi-handle::after,
#range-slider4 .noUi-handle::before,
#range-slider4 .noUi-handle::after
 {
    display: none;
}




.img-card{
    margin: 10px auto 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.53);
}


.opt{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opt li {
    padding: 5px 10px !important;
    color:  var(--color-primary-dark);
    font-size: 12px;
    border-radius: 3px;
    background-color: var(--color-white) !important;
}

.ranges{
    width: 140px;
    max-width: 140px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}



/*


.work-input-delete {
    width: 35px;
    padding: 6px;
    box-sizing: border-box;
}


.work-button-delete {
    background-color: #c70606;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.project-button-delete:hover {
    background-color: #d45555;
}

*/
