.menu {
    /*
  @media (min-width: 767px) {
      display: none;
  }
    */
    &__icon{
        fill: var(--color-beige5);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
    }

  &__icon:hover,
  &__icon:focus
  {
    fill: var(--color-white);
  }

  &__toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 24px;
    min-width: 16px;

    top: 18px;
    left: auto;
    right: 23px;
    padding: 0;

    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    @media (min-width: 840px) {
      display: none;
    }
  }

  &__toggle:hover,
  &__toggle:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__container {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 0 0;
    background-color: rgba(0, 0, 0);
    z-index: 100;

    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;
  }


  &__container.is-open {
    transform: translateY(0);
  }

  &__container &__toggle {
    position: absolute;
    top: 16px;
    left: 16px;
    color: var(--color-white);
  }

  &__close-button{
    position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
        top: 25px;
        left: auto;
        right: 25px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--color-black);
        border: 1px solid var(--color-beige5);
        fill:var(--color-beige5);
      transition-property: border, fill;
      transition-duration: 250ms;
      transition-timing-function: var(--timing-function);

  }

    &__nav__li {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }


    &__nav__li a {
        display: block;
        padding: 15px;
        background-color: var(--dark-background);
        color: var(--color-beige5);
        text-decoration: none;
        transition: background-color, color 0.3s ease-in-out;
    }

    &__nav__li a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--color-white);
    }

    &__nav__li a.active {
        font-weight: 700;
        color: var(--color-black) !important;
        background-color: var(--color-brown);

    }

    &__nav__li li:not(:last-child) a {
        border-bottom: 1px solid white;
    }
}

.menu__container:hover {
    .menu__close-button {
        border: 1px solid var(--color-beige5);
    }
    .menu__close-button-image {
        fill: var(--color-white);
    }
}


.link.menu__nav-link--current{
  color: var(--color-sense);
}

.tel-item {
    color: var(--color-beige5);
    fill: var(--color-beige5);
    transition: color, fill 0.3s ease-in-out;
    display: none;
    @media screen and (min-width: 468px) and (max-width: 764px) {
        display: block;
    }
    @media screen and (min-width: 765px) and (max-width: 970px) {
        display: none;
    }
    @media screen and (min-width: 971px) {
        display: block;
    }
}


.tel-item:hover {
    color: var(--color-white);
    fill: var(--color-white);
}

.smartphone{
    margin-right: 5px;
}


.soc-li {
    display: flex !important;
    gap: 5px !important;
    align-items: center !important;
}

.langs{
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 59px;
    @media screen and (max-width: 839px) {
        margin-right: 50px;
    }
}

a.uaover {background: url("/images/flag-uk0.gif"); display:block; width:22px; height:14px;}
a.uaover:hover {background: url("/images/flag-uk.gif");}
a.enover {background: url("/images/flag-en0.png"); display: block; width:22px; height:14px;}
a.enover:hover {background: url("/images/flag-en.png");}

