:root {
  --font-main: "Montserrat", sans-serif;
  --font-logo: "Film P3", sans-serif;
  --font-subhead: "Times New Roman", sans-serif;
  --color-primary: #f3c653;
  --color-primary-dark: #c79002;
  --color-brown: #c79002;
  --color-brown-light: #d99c00;
  --color-dark: #494848;
  --color-beige1: #5f5f5f;
  --color-beige2: #7a7a7a;
  --color-beige3: #828282;
  --color-beige4: #b4b4b4;
  --color-beige5: #bababa;
  --color-white: #fff;
  --color-black: #000;
  --color-accent-gray: #808080;
  --color-mobile-logo: #fdfbec;
  --color-border-social: rgba(243, 198, 83, 0.7);
  --sense-background: #f0ecd6;
  --light-background: #fffdee;
  --dark-background: #0e0c07;
  --overlay-background: rgba(0, 0, 0, 0.5);
  --button-border: 2px solid #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile: 414px;
  --mobile-less: 413px;
  --tablet: 1024px;
  --tablet-less: 1023px;
  --desktop: 1280px;
  --desktop-less: 1279px;
  --vertical-lines-desktop: repeating-linear-gradient(
    90deg,
    rgba(186, 186, 186, 0.4) 1px,
    transparent 2px,
    transparent 302px
  );
  --vertical-lines-tablet: repeating-linear-gradient(
    90deg,
    rgba(186, 186, 186, 0.4) 1px,
    transparent 2px,
    transparent 234px
  );
  --vertical-lines-mobile: repeating-linear-gradient(
    90deg,
    rgba(186, 186, 186, 0.4) 1px,
    transparent 2px,
    transparent 134px
  );
}

@font-face {
  font-family: "Film P3";
  src: url(/fonts/FilmP3Bold.woff2?c2c034fa4554164a8383e4234de7f90b) format("woff2"), url(/fonts/FilmP3Bold.woff?f157167620f39ef676105f29e2845006) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman";
  src: url(/fonts/times-new-roman.woff2?d352d9e55c1ecb8eae63c19c25058506) format("woff2"), url(/fonts/times-new-roman.woff?de304e6392adbb6ef1b90ee07f6f5ea5) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman";
  src: url(/fonts/times-new-roman-bold.woff2?579d7ddfe1be16d0bb055924bd9ffe7f) format("woff2"), url(/fonts/times-new-roman-bold.woff?85636861d96de091c5a060d09102dea1) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Regular.woff2?fc432875c59da8482816e27c9c333fa0) format("woff2"), url(/fonts/Montserrat-Regular.woff?21e541a4a652a7fa0d6a55d7db67eb23) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Medium.woff2?ee886f49896d934d6c26700def99763c) format("woff2"), url(/fonts/Montserrat-Medium.woff?8fbdea08412c70e6d65c3b9a313f6b93) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-SemiBold.woff2?b5837b161389882292f78bf14d3b5dd2) format("woff2"), url(/fonts/Montserrat-SemiBold.woff?b8891b663699c1ed0b433253d684c790) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Bold.woff2?2695cf49ae7429c18e10281c108a7277) format("woff2"), url(/fonts/Montserrat-Bold.woff?8ce6f4ee86ac2cbc9b0f9d180acca103) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-main);
  font-style: normal;
  background: var(--light-background);
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.19;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 236px;
  max-width: 236px;
  color: var(--color-primary);
  border: var(--button-border);
  border-radius: 25px;
  font-size: 16px;
  line-height: 1.25px;
  cursor: pointer;
  transition: color 250ms var(--timing-function);
}
.button--transparent {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 250ms var(--timing-function);
}
.button--black {
  background-color: var(--color-black);
  transition: background-color 250ms var(--timing-function);
}
.button--link {
  text-decoration: none;
}
.button:hover, .button:focus {
  background-color: var(--color-white);
}

.reservation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #000;
  border: 1px solid #f3c653;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.21px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.reservation-button--section {
  width: 434px;
  height: 64px;
  border-radius: 25px;
}
.reservation-button--modal {
  width: 592px;
  height: 64px;
  border-radius: 2px;
}
@media screen and (max-width: 1024px) {
  .reservation-button {
    max-width: 384px;
    height: 64px;
    font-size: 20px;
    line-height: 1.2px;
  }
}
.reservation-button:hover, .reservation-button:focus {
  background-color: var(--color-primary);
  color: var(--color-black);
}

.return-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  width: 433px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-brown);
  font-size: 20px;
  line-height: 1.2px;
}
.return-button:hover, .return-button:focus {
  color: var(--color-primary);
}

.arrow-color {
  fill: currentColor;
}

.switch-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}
.switch-button:hover, .switch-button:focus {
  color: var(--color-primary);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  z-index: 150;
  transition: var(--timing-function);
  opacity: 1;
}
@media screen and (max-width: 668px) {
  .backdrop {
    display: block;
  }
}

.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  transition: var(--timing-function);
}
.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 414px;
  background: var(--light-background);
  padding: 40px 15px;
  margin: 0 auto;
  z-index: 30;
  overflow-y: auto;
  border: 1px solid var(--color-primary);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .modal {
    max-width: 712px;
    padding: 50px;
  }
}

.modal__button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  stroke: var(--color-black);
  border: none;
  background-color: transparent;
  transition: var(--timing-function);
}

.modal__button:hover,
.modal__button:focus {
  stroke: #808080;
}

.modal__button:hover .modal__icon {
  stroke: #808080;
}

.modal__button:focus .modal__icon {
  stroke: #808080;
}

.modal__icon {
  fill: var(--color-black);
}

.modal__title {
  margin-bottom: 40px;
  font-family: var(--font-subhead);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-black);
}
@media screen and (min-width: 1024px) {
  .modal__title {
    font-size: 40px;
    line-height: 1.15;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form__item {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .form__item {
    gap: 16px;
  }
}

.form__label {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .form__label {
    width: calc((100% - 16px) / 2);
    margin-bottom: 28px;
  }
  .form__label:nth-of-type(2) {
    order: 1;
  }
  .form__label:nth-of-type(4) {
    order: 3;
  }
}

.form__label-number {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .form__label-number {
    width: calc((100% - 16px) / 2);
    margin-bottom: 28px;
  }
  .form__label-number:nth-of-type(3) {
    margin-left: 305px;
  }
}

.form__input {
  display: block;
  width: 100%;
  padding: 17px 12px;
  max-height: 54px;
  margin-bottom: 8px;
  font-family: var(--font-subhead);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--color-black);
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .form__input {
    max-height: 64px;
    font-size: 24px;
    line-height: 1.16;
  }
}

.form__text {
  margin-left: 12px;
}
@media screen and (min-width: 1024px) {
  .form__text {
    margin-left: 14px;
  }
}

.form__input::-moz-placeholder {
  font-family: var(--font-subhead);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}

.form__input::placeholder {
  font-family: var(--font-subhead);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}
@media screen and (min-width: 1024px) {
  .form__input::-moz-placeholder {
    font-size: 24px;
    line-height: 1.16;
  }
  .form__input::placeholder {
    font-size: 24px;
    line-height: 1.16;
  }
}

.form__select {
  position: relative;
}

.select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 17px 12px;
  width: 100%;
  max-height: 54px;
  margin-bottom: 8px;
  font-family: var(--font-subhead);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .select {
    max-height: 64px;
    font-size: 24px;
    line-height: 1.16;
  }
}

.select__value {
  font-family: var(--font-subhead);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
  align-items: baseline;
}
@media screen and (min-width: 1024px) {
  .select__value {
    max-height: 64px;
    font-size: 24px;
    line-height: 1.16;
  }
}

.form__select::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  z-index: 100;
  background-image: url(/images/ep_arrow-down-bold.svg?7512f83b02ba940fd95c93ed208d9339);
  pointer-events: none;
  background-size: contain;
}

.form__button {
  display: block;
  height: 64px;
  padding: 20px 0;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-white);
  background: var(--color-black);
  border: 1px solid var(--color-primary);
  border-radius: 2px;
  margin-top: 20px;
  transition: 300ms;
}
@media screen and (min-width: 1024px) {
  .form__button {
    padding: 18px 0;
    font-size: 24px;
    line-height: 1.21;
    margin-top: 12px;
  }
}

.form__button:hover,
.form__button:focus {
  color: var(--color-black);
  background: var(--color-primary);
}

/* Modal rooms */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.advantages-title {
  font-size: 28px;
  font-weight: 900;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
}

.advantage-card-title {
  width: 96%;
  max-width: 600px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 100px auto 10px;
  color: var(--color-white);
  background-color: var(--color-brown);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.advantage-card-title:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.advantage-card {
  width: 98%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px auto 10px;
  color: var(--color-brown);
  background-color: var(--color-white);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.advantage-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.advantage-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.advantage-description {
  font-size: 16px;
}

.section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 414px) {
  .container {
    width: var(--mobile);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: var(--tablet);
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: var(--desktop);
    padding-left: 85px;
    padding-right: 85px;
  }
}
.container__lines:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .container__lines:before {
    background: var(--vertical-lines-mobile);
    width: 136px;
  }
}
@media screen and (min-width: 1024px) {
  .container__lines:before {
    background: var(--vertical-lines-tablet);
    width: 468px;
  }
}
@media screen and (min-width: 1280px) {
  .container__lines:before {
    background: var(--vertical-lines-desktop);
    width: 605px;
  }
}
.container__lines--top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .container__lines--top:before {
    background: var(--vertical-lines-mobile);
    width: 136px;
  }
}
@media screen and (min-width: 1024px) {
  .container__lines--top:before {
    background: var(--vertical-lines-tablet);
    width: 468px;
  }
}
@media screen and (min-width: 1280px) {
  .container__lines--top:before {
    background: var(--vertical-lines-desktop);
    width: 605px;
  }
}
.container__lines--top--footer {
  height: 100%;
  position: absolute;
}
@media screen and (max-width: 1023px) {
  .container__lines--top--footer {
    width: 59%;
  }
}
@media screen and (min-width: 1024px) {
  .container__lines--top--footer {
    width: 76%;
  }
}
@media screen and (min-width: 1280px) {
  .container__lines--top--footer {
    width: 70.7%;
  }
}
.container__lines--top--footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 1023px) {
  .container__lines--top--footer::before {
    background: var(--vertical-lines-mobile);
    width: 1%;
  }
}
@media screen and (min-width: 1024px) {
  .container__lines--top--footer::before {
    background: var(--vertical-lines-tablet);
  }
}
@media screen and (min-width: 1280px) {
  .container__lines--top--footer::before {
    background: var(--vertical-lines-desktop);
  }
}

.contact {
  padding: 10px;
}
.contact__header {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.contact__label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.contact__title {
  margin-top: 16px;
  text-align: center;
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.contact__block {
  position: relative;
}
.contact__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
  margin-top: 4px;
  padding: 14px 14px 14px 40px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.contact__label:focus-within .contact__input {
  border-color: var(--color-primary-dark);
}
.contact__textarea {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
}
.contact__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.contact__label:focus-within .contact__icon {
  fill: var(--color-primary-dark);
}

.contacts__block {
  margin: 75px auto 20px;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .contacts__block {
    gap: 60px;
  }
}
.contacts__title {
  margin: 10px 0 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
}
.contacts__item {
  display: inline-block;
  background: var(--color-white);
  border: 0.5px solid;
  border-radius: 2px;
  border-color: var(--color-primary);
  margin-bottom: 10px;
}
.contacts__link {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 9px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
}
@media screen and (min-width: 1024px) {
  .contacts__link {
    font-size: 20px;
    line-height: 1.2;
  }
}
.contacts__icon {
  fill: var(--color-primary-dark);
}
.contacts__text {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}
@media screen and (min-width: 414px) {
  .contacts__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .contacts__text {
    display: block;
  }
}
.contacts__container-map {
  margin: 20px auto 30px;
}
.contacts__map {
  width: 100%;
}
@media screen and (min-width: 414px) {
  .contacts__map {
    width: 384px;
    height: 384px;
  }
}
@media screen and (min-width: 1024px) {
  .contacts__map {
    width: 800px;
    height: 412px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__map {
    width: 1000px;
    height: 412px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  left: auto;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border, color, fill 0.3s ease-in-out;
}

.close-button:hover {
  fill: var(--color-primary-dark);
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.hero {
  margin-top: 55px;
  height: 400px;
  padding: 80px 0 80px;
  font-size: 18px;
  color: var(--color-white);
  font-weight: 900;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background-460.jpg");
}
@media (max-width: 767px) {
  .hero {
    padding: 50px 0 50px;
  }
}
.hero__title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background-460@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background-768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px 0 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    margin: 0 auto 20px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.header__logo {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.08;
  padding: 2px 2px 2px 10px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--color-mobile-logo);
  text-shadow: 0 4px 4px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo__img {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1024px) {
  .header__logo {
    color: var(--color-white);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.menu__icon {
  fill: var(--color-beige5);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.menu__icon:hover, .menu__icon:focus {
  fill: var(--color-white);
}
.menu__toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  min-width: 16px;
  top: 18px;
  left: auto;
  right: 23px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
@media (min-width: 840px) {
  .menu__toggle {
    display: none;
  }
}
.menu__toggle:hover, .menu__toggle:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.menu__container {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 0 0;
  background-color: rgb(0, 0, 0);
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}
.menu__container.is-open {
  transform: translateY(0);
}
.menu__container .menu__toggle {
  position: absolute;
  top: 16px;
  left: 16px;
  color: var(--color-white);
}
.menu__close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 25px;
  left: auto;
  right: 25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-black);
  border: 1px solid var(--color-beige5);
  fill: var(--color-beige5);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.menu__nav__li {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.menu__nav__li a {
  display: block;
  padding: 15px;
  background-color: var(--dark-background);
  color: var(--color-beige5);
  text-decoration: none;
  transition: background-color, color 0.3s ease-in-out;
}
.menu__nav__li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
}
.menu__nav__li a.active {
  font-weight: 700;
  color: var(--color-black) !important;
  background-color: var(--color-brown);
}
.menu__nav__li li:not(:last-child) a {
  border-bottom: 1px solid white;
}

.menu__container:hover .menu__close-button {
  border: 1px solid var(--color-beige5);
}
.menu__container:hover .menu__close-button-image {
  fill: var(--color-white);
}

.link.menu__nav-link--current {
  color: var(--color-sense);
}

.tel-item {
  fill: var(--color-beige5);
  transition: fill 0.3s ease-in-out;
  display: none;
}
@media screen and (min-width: 468px) and (max-width: 764px) {
  .tel-item {
    display: block;
  }
}
@media screen and (min-width: 765px) and (max-width: 970px) {
  .tel-item {
    display: none;
  }
}
@media screen and (min-width: 971px) {
  .tel-item {
    display: block;
  }
}

.tel-menu {
  color: var(--color-beige5);
  fill: var(--color-beige5);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s cubic-bezier(0.16, 1, 0.5, 1);
}

.tel-menu:hover {
  color: var(--color-white);
  fill: var(--color-white);
}

.dropdown {
  position: absolute;
  width: 190px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 22px 0 0 -19px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.4s cubic-bezier(0.16, 1, 0.5, 1);
}

.dropdown a {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 19px;
  color: var(--color-beige5);
  fill: var(--color-beige5);
  transition: all 0.4s cubic-bezier(0.16, 1, 0.5, 1);
}

.dropdown a:hover {
  color: var(--color-white);
  fill: var(--color-white);
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.3s ease;
}

.soc-li {
  display: flex !important;
  gap: 5px !important;
  align-items: center !important;
}

.langs {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 59px;
}
@media screen and (max-width: 839px) {
  .langs {
    margin-right: 50px;
  }
}

a.uaover {
  background: url("/images/flag-uk0.gif");
  display: block;
  width: 22px;
  height: 14px;
}

a.uaover:hover {
  background: url("/images/flag-uk.gif");
}

a.enover {
  background: url("/images/flag-en0.png");
  display: block;
  width: 22px;
  height: 14px;
}

a.enover:hover {
  background: url("/images/flag-en.png");
}

.order-button {
  display: block;
  min-width: 216px;
  margin: 15px auto 0;
  padding: 10px 32px 10px;
  font-family: inherit;
  font-style: normal;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--sense-background);
  background-color: var(--color-brown);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.order-button:hover, .order-button:focus {
  background-color: var(--color-brown-light);
  color: var(--color-white);
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.53);
}
.order-button--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 28px 10px;
  fill: #000;
}
@media screen and (max-width: 1199px) {
  .order-button--footer {
    margin-top: 20px;
  }
}

.projects-title {
  font-size: 28px;
  font-weight: 900;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
}

.project-card-title a {
  display: block;
  text-decoration: none;
  width: 98%;
  max-width: 600px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 100px auto 10px;
  color: var(--color-white);
  background-color: var(--color-brown);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.project-card-title a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-card a {
  display: block;
  text-decoration: none;
  width: 98%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px auto 10px;
  color: var(--color-brown);
  background-color: var(--color-white);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.project-card a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
}

.project-form {
  margin: 70px auto 20px;
  width: 300px;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-label {
  display: block;
  margin-bottom: 8px;
}

.project-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.project-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.project-button:hover {
  background-color: #45a049;
}

.footer {
  background-color: var(--dark-background);
  position: relative;
}

.footer__container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 414px;
  padding: 40px 30px;
}
@media screen and (min-width: 1024px) {
  .footer__container {
    max-width: 1024px;
    padding: 80px 122px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    max-width: 1280px;
    padding: 80px 186px;
  }
}

.footer__contacts {
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .footer__contacts {
    display: flex;
    gap: 137px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts {
    gap: 199px;
  }
}

.footer__list {
  display: block;
}

.footer__item {
  display: block;
  margin-bottom: 16px;
  text-align: right;
}
.footer__item:last-child {
  margin-bottom: 32px;
}
@media screen and (min-width: 380px) {
  .footer__item {
    text-align: left;
  }
}

.footer__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary);
}

.footer-social {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .footer-social {
    flex-direction: column;
    margin-left: auto;
    gap: 12px;
  }
}

.footer-social__item {
  border: 0.5px solid;
  border-color: transparent;
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .footer-social__item {
    border-color: var(--color-primary);
  }
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .footer-social__link {
    padding: 10px 12px;
  }
}

.footer-social__text {
  display: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-primary);
}
@media screen and (min-width: 1024px) {
  .footer-social__text {
    display: block;
  }
}

.footer-social__icon {
  fill: var(--color-primary);
  margin-left: 0;
}
@media screen and (min-width: 1024px) {
  .footer-social__icon {
    margin-left: 17px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100%;
  background-color: var(--dark-background);
  transition: 300ms var(--timing-function);
}
.header.sticky {
  background-color: rgba(0, 0, 0, 0.8);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
}
@media screen and (min-width: 1024px) {
  .header__container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 839px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 10px;
}

.nav__list a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-beige5);
  text-decoration: none;
  transition: color, box-shadow 0.3s ease;
}

.nav__list a:hover {
  color: var(--color-white);
  text-decoration: underline;
}

.active {
  color: var(--color-primary-dark) !important;
}

.social__icon {
  fill: var(--color-beige5);
}

.social__icon:hover {
  fill: var(--color-white);
}
