<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^storage/app/(.*)$ public/storage/app/$1 [L]
    RewriteRule ^storage/framework/(.*)$ public/storage/framework/$1 [L]
    RewriteRule ^storage/logs/(.*)$ public/storage/logs/$1 [L]
    RewriteRule ^storage/house_photos/(.*)$ public/storage/house_photos/$1 [L]
</IfModule>